/* VIEW TRANSITIONS */

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: theme("transitionDuration.700");
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
::view-transition-old(root),
::view-transition-new(root) {
  transform-origin: top center;
}

/* KEYFRAMES */

@keyframes spinner-leaf-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes skeleton-wave {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
